<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<h1>hello world!</h1>
		<a href="/sign-up">sign-up</a>
		<br />
		<br />
		<a href="/log-in">log-in</a>
	</body>
</html>
